
	<!-- address -->
		<div class="address"> 
			<div class="col-md-4 address-left">
				<h4>Contact Info</h4>
				<ul>
					<li><i class="fa fa-map-marker"></i> 123 San Sebastian, New York City USA.</li>
					<li><i class="fa fa-mobile"></i> 333 222 3333 </li>
					<li><i class="fa fa-phone"></i> +222 11 4444 </li>
					<li><i class="fa fa-envelope-o"></i> <a href="mailto:example@mail.com"> mail@example.com</a></li>
				</ul> 
			</div>
			<div class="col-md-8 address-right">  
				<h4>Subscribe</h4>
				<p>Subscribe to our email newsletter to receive updates</p>
				<form action="#" method="post"> 
					<input type="email" name="email" placeholder="Enter your Email..." required="">
					<input type="submit" value="Subscribe">
				</form>
				<div class="clearfix"> </div> 
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //address -->