		<!-- footer -->
		<div class="footer">
			<div class="container">
				<h3><a href="index.html">Dinheiro.Tech</a></h3>
				<p>© 2024 Renato Monteiro Batista | Design by <a href="http://w3layouts.com">W3layouts</a></p>
            {%- if page.footer -%}
            <p>{{page.footer}}</p>
            {%- endif -%}
				<div class="social-icons">
					<ul>
						<li><a href="https://github.com/dinheirotech/" class="fa fa-github icon icon-border github"> </a></li>
<!--						<li><a href="#" class="fa fa-twitter icon icon-border twitter"> </a></li>
						<li><a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a></li>
						<li><a href="https://keybase.io/renatomb" class="fa fa-keybase icon icon-border keybase"> </a></li>-->
						<li><a href="/feed.xml" class="fa fa-rss icon icon-border rss"> </a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //footer -->	
	<script src="js/responsiveslides.min.js"></script>
	<script src="js/jarallax.js"></script>
	<script src="js/SmoothScroll.min.js"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>

	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
	<!-- //here ends scrolling icon -->
</body>	
</html>