<!-- services -->
	<div class="services">
		<div class="container">
			<div class="agileits-heading">
				<h3>Services</h3>
			</div>
			<div class="agileinfo-services-grids">
				<div class="services-top-grids">
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-money" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-cc-paypal" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-cc-stripe" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="services-bottom-grids">
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-user" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-asterisk" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="col-md-3 wthree-services-grid">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<h4>Vivamus</h4>
						<p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //services -->