<!-- welcome -->
	<div class="welcome">
		<div class="container">
			<div class="agileits-heading">
				<h2>Welcome</h2>
			</div>
			<div class="w3lcome-grids">
				<div class="welcome-agile-row">
					<div class="col-md-6 welcome-grid">
						<div class="welcome-grid-right">
							<img src="images/2.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="welcome-grid-left">
							<h4>magnam aliquam </h4>
							<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
								ut labore et dolore magnam aliquam quaerat voluptatem</p>
						</div> 
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 welcome-grid">
						<div class="welcome-grid-right agileinfo-welcm-grid">
							<img src="images/3.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="welcome-grid-left agileinfo-welcm-grid2">
							<h4>quaerat volupta</h4>
							<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
								ut labore et dolore magnam aliquam quaerat voluptatem</p>
						</div> 
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="welcome-agile-row2">
					<div class="col-md-6 welcome-grid">
						<div class="welcome-grid-right">
							<img src="images/4.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="welcome-grid-left">
							<h4>aliquam quaerat</h4>
							<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
								ut labore et dolore magnam aliquam quaerat voluptatem</p>
						</div> 
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 welcome-grid">
						<div class="welcome-grid-right agileinfo-welcm-grid">
							<img src="images/5.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="welcome-grid-left agileinfo-welcm-grid2">
							<h4>voluptatem magnam</h4>
							<p>Adipisci velit, sed quia non numquam eius modi tempora incidunt 
								ut labore et dolore magnam aliquam quaerat voluptatem</p>
						</div> 
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //welcome --> 